
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" (submit)="addbook()" [formGroup]="form">
				<span class="contact100-form-title">
					ADD BOOK
				</span>

        <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
					<span class="label-input100">BOOK NAME *</span>
          <input formControlName="bookname" class="input100" type="text" name="name" placeholder="Enter Book Name">
          <div class="val-text" *ngIf="submitted && form.get('bookname').invalid">
            Please Enter Book Name!
          </div>
        </div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">FULL NAME *</span>
          <input formControlName="username" class="input100" type="text" name="email" placeholder="Enter Your Name ">
          <div class="val-text" *ngIf="submitted && form.get('username').invalid">
            Please Enter Your Name!
          </div>
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Phone *</span>
          <input formControlName="number" class="input100" type="number" name="phone" placeholder="Enter Number Phone">
          <div class="val-text" *ngIf="submitted && form.get('number').invalid">
            Please Enter Your Mobile No.!
          </div>
				</div>

				<div class="wrap-input100 input100-select bg1" style="width: 50%;">
					<span class="label-input100">Department *</span>
					<div>
						<select class="form-control" formControlName="department" name="service">
							<!-- <option selected value="">Select</option> -->
							<option >Computer Science</option>
							<option >Mechinical</option>
							<option >Civil</option>
              <option >Electrical</option>
              <option>IT</option>
              <option >Other</option>
						</select>
            <!-- <div class="dropDownSelect2"></div> -->
            <div class="val-text" *ngIf="submitted && form.get('number').invalid">
              Please Enter Your Mobile No.!
            </div>
					</div>
        </div>

        <div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Price *</span>
          <input formControlName="price" class="input100" type="number" name="phone" placeholder="Enter Price">
          <div class="val-text" *ngIf="submitted && form.get('number').invalid">
            Please Enter Price!
          </div>
				</div>

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
					<span class="label-input100">Description</span>
          <textarea formControlName="desc" class="input100" name="message" placeholder="Your description here..."></textarea>
          <div class="val-text" *ngIf="submitted && form.get('number').invalid">
            Please Enter Your Description!
          </div>
        </div>


        <div style="text-align: center" class="wrap-input100 bg1 rs1-wrap-input100" >
            <div style="margin-bottom: 20px;" *ngIf="imagepreview1!='' && imagepreview1">
                <img style="width: 120px;"  [src]="imagepreview1">
              </div>
          <button type="button" class="btn btn-outline-dark" (click)="image1.click()">Image 1</button>
          <div class="val-text" *ngIf="submitted && form.get('number').invalid">
            Please Select Image!
          </div>
        </div>

        <div style="text-align: center" class="wrap-input100 bg1 rs1-wrap-input100" >
            <div style="margin-bottom: 20px;" *ngIf="imagepreview2!='' && imagepreview2">
                <img style="width: 120px;"  [src]="imagepreview2">
              </div>
          <button type="button" class="btn btn-outline-dark" (click)="image2.click()">Image 2</button>
          <div class="val-text" *ngIf="submitted && form.get('number').invalid">
            Please Select Image!
          </div>
        </div>

         <input style="display: none" type="file" #image1 (change)="imagePick1($event)">
          <input style="display: none" type="file" #image2 (change)="imagePick2($event)">

				<div class="container-contact100-form-btn">
					<button type="submit" class="contact100-form-btn" (click)="modal.showBtnLoader()">
            <span class="btn-loading-content">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
            <span class="btn-default-content">
              Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
            </span>

					</button>
				</div>
			</form>
		</div>
  </div>

  <!---------MODALS------------>

<!-- First Signup Modal -->
<div class="modal modal-animate" id="modal1" role="dialog" #modal1>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(modal1)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">

        <h2>
          Book Added Successfully
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(modal1)"
      >
        OK
      </button>
    </div>
  </div>
</div>
